@page "/greenbeaninfo/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Create Green Bean</h3>

<Form ButtonText="Create Green Bean Information" greenbeaninfo="@greenbeaninfo" OnValidSubmit="@CreateGreenBeanInfo" />

@code {
	GreenBeanInfo greenbeaninfo = new GreenBeanInfo();
	async Task CreateGreenBeanInfo() {
		await http.PostAsJsonAsync("api/greenbeaninfo", greenbeaninfo);
		uriHelper.NavigateTo("greenbeaninfo");
	}
}