@page "/contact/create_old"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Create Contact</h3>

<!-- <Form ButtonText="Create Contact" contact="@contact" OnValidSubmit="@CreateContact" />
-->

@code {
	Contact contact = new Contact();
	async Task CreateContact() {
		await http.PostAsJsonAsync("api/contact", contact);
		uriHelper.NavigateTo("contact");
	}
}