@page "/contact/edit/{contactId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Edit Contact</h3>

<!-- <Form ButtonText="Update" contact="contact" OnValidSubmit="@EditContact" />
-->

@code {
	[Parameter] public int contactId { get; set; }
	Contact contact = new Contact();

	protected async override Task OnParametersSetAsync() {
		contact = await http.GetFromJsonAsync<Contact>($"api/contact/{contactId}");
	}

	async Task EditContact() {
		await http.PutAsJsonAsync("api/contact", contact);
		//await js.InvokeVoidAsync("alert", $"Updated successfully!");
		uriHelper.NavigateTo("contact");
	}
}