@page "/"

<h1>Coffee Roast Management</h1>

Manage your green beans and your roasts.
<br/>
Start by adding some <MudLink Href="/contact">contacts</MudLink> for green bean purchasing and add <MudLink Href="/stock">some stock</MudLink>.
Then start by <MudLink Href="/roast">adding roasts</MudLink>!

Visit the homepage regularly for updates!